.reviews {
    margin: 30px 0;
}

.comment {
    background: #f3f3f3;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.comment .title {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 18px;
}

.comment span {
    color: #808080;
    font-size: 14px;
}

.review-form {
    margin-bottom: 50px;
}

#add-category {
    margin: 10px 0;
}

.btn a {
    color: #fff;
}

nav {
    margin-bottom: 20px;
}

#search-bar {
    margin-right: 20px;
}

#movies-list li {
    margin: 20px 0;
}

#movies-list li img {
    height: 200px;
    width: 135px;
}

#movies-list li h3,
#movies-list li h5 {
    display: inline-block;
    width: 200px;
    margin: 0 50px;
}

#trailer {
    margin-top: 50px;
}
